@model Twitter.Models.User

@using(Html.BeginForm("Login", "Home", FormMethod.Post))
{
    @Html.Label("Name")
    <span class="login">@Html.TextBoxFor(x => x.Name)</span>
    @Html.Label("Password")
    <span class="pass">@Html.PasswordFor(x => x.Password)</span>
    <span class="button"><input type="submit" value="Login" /></span>
    @Html.ActionLink("Sign up", "Registration", "Home")
}

