@model ICollection<Twitter.Models.Tweet>
<script src="@Url.Content("~/scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<br />
<div class="tweetList">
@if (Model != null)
{
    foreach (Twitter.Models.Tweet tweet in Model)
    {
    <div class="tweet">
        <div class="tweet-header">
            @Html.ActionLink(@tweet.Author.Name, "Index", "User", new { id = @tweet.Author.Id }, null) at @tweet.CreatingDate.Day.@tweet.CreatingDate.Month @tweet.CreatingDate.Hour:@tweet.CreatingDate.Minute
        </div>
        <div class="tweet-text">
            @if (tweet.Hashtags.Any() == false)
            {
                <span>@tweet.Text</span>
            }
            else
            {
                
                string[] t = tweet.Text.Split(' ');
                foreach(string word in t)
                {
                    if (word.StartsWith("#"))
                    {
                        
                        @Html.ActionLink(word, "Index", "Hashtag", new { id = word }, null);
                        <span> </span>
                    }
                    else
                    {
                        <span>@word </span>
                    }
                }

            }
        </div>
        <div class="tweet-info">
           @Ajax.ActionLink("Like", "Like", "User", new { id = tweet.Id }, new AjaxOptions { UpdateTargetId = "likes-"+tweet.Id } ) <img src="~/Image/like.png" height="15" width="15"/><div class="likes" id="likes-@tweet.Id">@tweet.Likes</div>
        </div>
              
    </div>
    <div id="comments" class="comments">
            @{ 
                Html.RenderAction("CommentsList", "Home", tweet);
            }
        </div>
    }
}
</div>
